# Server & App Configuration
PORT=8080
CLIENT_URL=
APP_URL="MY_APP_URL"

# Database Configuration (Optional MongoDB URI - defaults to robust embedded persistence if not provided)
MONGODB_URI=

# Security & Authentication
JWT_SECRET=syncmeet_super_secret_production_key_2026

# WebRTC STUN Server
STUN_SERVER_URL=stun:stun.l.google.com:19302

