# Server Configuration
PORT=8080
CLIENT_URL=http://localhost:8080

# Database Configuration
MONGODB_URI=your_mongodb_connection_string

# Authentication
JWT_SECRET=your_strong_jwt_secret

# WebRTC
STUN_SERVER_URL=stun:stun.l.google.com:19302
